Colors you need to use in this map is defined in tailwind.config.ts

Read .clienhistory file.
Generate a history for every task you accomplished inside a file named .clinehistory, append if it exists. Use gmt0 timestamp.

When writing a raw sql query use prisma's typedSql feature. When you change a sql file run prisma generate --sql.
When you change prisma model run prisma generate.

Read the whole project before start. Try to follow current practices on codebase.